/*----------subscribe----------*/
.subscribe {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 140px;
}
.subscribe__row {
  flex-direction: column;
}
.subscribe__block {
  flex: 0 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.subscribe__title {
  line-height: 55px;
  margin-bottom: 50px;
}
.subscribe__text {
  font-size: 24px;
  line-height: 30px;
  color: #cbd5e1;
  text-align: justify;
  margin-bottom: 50px;
}
.subscribe__list {
  text-align: justify;
  color: #cbd5e1;
  font-size: 24px;
  margin: 60px 0 0 80px;
}
.subscribe__list li {
  list-style-type: disc;
  margin-bottom: 10px;
}
.subscribe__list li:last-child {
  margin-bottom: 0;
}
.subscribe__list li span {
  color: #22d3ee;
}
.subscribe__form {
  min-width: 100%;
  flex: 0 0 auto;
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  /*----------@media-subscribe----------*/
  .subscribe__title {
    margin-bottom: 40px;
  }
  .subscribe__text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .subscribe__list {
    margin: 0 0 0 80px;
  }
}
/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-subscribe----------*/
  .subscribe {
    padding-top: 30px;
  }
  .subscribe__block {
    margin-bottom: 40px;
  }
  .subscribe__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .subscribe__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .subscribe__list {
    font-size: 15px;
  }
  .subscribe__form button {
    padding: 0 20px;
  }
}
/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 40px;
  }
  .subscribe__block {
    margin-bottom: 25px;
  }
  .subscribe__title {
    font-size: 20px;
    line-height: 20px;
  }
  .subscribe__text {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 27px;
  }
  .subscribe__list {
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 48px;
  }
  .subscribe__form {
    height: 40px;
  }
  .subscribe__form input {
    font-size: 10px;
  }
  .subscribe__form button {
    margin: 5px 5px 5px 0;
  }
  .subscribe__form button span {
    font-size: 10px;
  }
}