/*----------latest----------*/
.latest {
  padding-top: 70px;
}
.latest__title {
  font-size: 48px;
  color: #f8fafc;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
.latest__subtitle {
  font-size: 20px;
  line-height: 24px;
  color: #cbd5e1;
  text-align: center;
  margin-bottom: 100px;
}
.latest__columns {
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.latest__column {
  margin-bottom: 100px;
}

/*----------subscribe----------*/
.subscribe {
  margin-bottom: 90px;
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  .title {
    font-size: 20px;
  }
  /*----------@media-latest----------*/
  .latest__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .latest__subtitle {
    font-size: 15px;
    margin-bottom: 60px;
  }
  .latest__column {
    margin-bottom: 70px;
  }
}
/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-latest----------*/
  .latest__subtitle {
    margin-bottom: 40px;
  }
}
/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-latest----------*/
  .latest {
    padding-top: 35px;
    margin-bottom: 60px;
  }
  .latest__title {
    font-size: 20px;
    margin: 0 0 17px 0;
  }
  .latest__subtitle {
    font-size: 10px;
    line-height: 12px;
  }
  .latest__column {
    margin-bottom: 33px;
  }
  .latest__body {
    margin-top: 14px;
  }
  .latest__subtitle-body {
    margin-top: 8px;
  }
  .latest__text {
    margin-top: 15px;
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 60px;
  }
}