/*----------dolor----------*/
.dolor {
  padding-top: 130px;
}
.dolor__title {
  color: #f8fafc;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 55px;
}
.dolor__subtitle {
  color: #9ca3af;
  font-size: 24px;
  margin-bottom: 45px;
}
.dolor__image {
  margin-bottom: 125px;
}
.dolor__image img {
  max-width: 100%;
  border-radius: 20px;
}
.dolor__body {
  color: #f8fafc;
  padding-right: 20px;
}

/*----------block----------*/
.block__title {
  font-weight: 700;
  font-size: 36px;
  text-align: justify;
  margin-bottom: 50px;
}
.block__text {
  font-size: 32px;
  text-align: justify;
  line-height: 45px;
  margin-bottom: 50px;
}
.block__text p {
  margin-bottom: 50px;
}
.block__text:last-child {
  margin-bottom: 0;
}
.block__list-two {
  margin: 0 0 50px 50px;
}
.block__list-two li {
  font-size: 32px;
  list-style-type: disc;
  margin-bottom: 15px;
}
.block__four {
  margin-bottom: 120px;
}
.block__list-four li {
  font-size: 32px;
  margin: 0 0 15px 0;
}
.block__list-four li:last-child {
  margin: 0;
}
.block__list-four li span {
  border-bottom: 2px solid #fff;
}

/*----------subscribe----------*/
.subscribe {
  margin-bottom: 140px;
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  .title {
    font-size: 20px;
  }
  /*----------@media-dolor----------*/
  .dolor {
    padding-top: 53px;
  }
  .dolor__title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .dolor__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 35px;
  }
  .dolor__image {
    margin-bottom: 80px;
    padding: 0 40px;
  }
  .dolor__body {
    padding: 0 40px;
  }
  /*----------@media-block----------*/
  .block__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .block__text p {
    font-size: 20px;
  }
  .block__list-two li {
    font-size: 20px;
  }
  .block__four {
    margin-bottom: 70px;
  }
  .block__list-four li {
    font-size: 20px;
  }
}
/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-dolor----------*/
  .dolor__subtitle {
    text-align: center;
  }
  .dolor__image {
    margin-bottom: 40px;
  }
  /*----------@media-block----------*/
  .block__title {
    font-size: 18px;
  }
  .block__text P {
    line-height: 30px;
    font-size: 15px;
  }
  .block__list-two {
    margin: 0 0 30px 30px;
  }
  .block__list-two li {
    font-size: 15px;
  }
  .block__list-four {
    margin-bottom: 60px;
  }
  .block__list-four li {
    font-size: 15px;
  }
}
/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-dolor----------*/
  .dolor__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .dolor__subtitle {
    font-size: 10px;
    margin-bottom: 30px;
    line-height: 15px;
  }
  .dolor__image {
    margin-bottom: 40px;
  }
  /*----------@media-block----------*/
  .block__title {
    font-size: 12px;
    line-height: 20px;
  }
  .block__text {
    margin-bottom: 10px;
  }
  .block__text p {
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .block__list-two {
    margin-bottom: 25px;
  }
  .block__list-two li {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .block__list-four li {
    font-size: 10px;
    margin-bottom: 15px;
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 60px;
  }
}