@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto";
  background: #0f172a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}
.title span {
  background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*----------header----------*/
.header {
  padding: 34px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__logo-name {
  display: flex;
  align-items: center;
}
.header__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.header__nav {
  display: flex;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  margin-left: 50px;
  line-height: 25px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__link {
  color: #f8fafc;
  font-size: 24px;
  font-weight: 700;
}

/*----------footeer----------*/
.footer {
  border-top: 1px solid #cbd5e1;
  padding: 30px 0 40px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-size: 20px;
  color: #cbd5e1;
  font-weight: 500;
}
.footer__icon {
  display: flex;
  align-items: center;
}
.footer__item {
  margin-right: 15px;
}
.footer__item:last-child {
  margin-right: 0;
}

/*----------shared-latest----------*/
.latest__columns {
  display: flex;
  margin: 0 -10px;
}
.latest__column {
  flex: 0 0 33.333%;
  padding: 0 10px;
}
.latest__content {
  display: block;
  background: #1e293b;
  border-radius: 20px;
}
.latest__content:hover {
  -webkit-text-decoration: underline #c5c5c5;
          text-decoration: underline #c5c5c5;
  transform: translateY(-5px);
  transition: transform 0.2s;
}
.latest__content:not(:hover) {
  transition: transform 0.2s;
}
.latest__image {
  background: #0f172a;
}
.latest__image img {
  max-width: 100%;
}
.latest__body {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  margin-top: 23px;
  padding: 0 10px;
}
.latest__title-body {
  font-weight: 700;
  font-size: 24px;
  color: #f8fafc;
}
.latest__subtitle-body {
  color: #9ca3af;
  margin: 20px 0 0 0;
  font-size: 20px;
}
.latest__text {
  color: #f8fafc;
  line-height: 25px;
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 50px;
}

/*----------shared-subscribe----------*/
.subscribe {
  margin-bottom: 140px;
}
.subscribe__row {
  display: flex;
  align-items: center;
}
.subscribe__body {
  flex: 0 0 50%;
  padding-right: 30px;
}
.subscribe__title {
  display: inline-block;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}
.subscribe__text {
  font-size: 20px;
  color: #cbd5e1;
  line-height: 25px;
}
.subscribe__form {
  flex: 0 0 50%;
  background: #1e293b;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.subscribe__form input {
  flex: 1 1 auto;
  padding-right: 30px;
  color: #cbd5e1;
  font-size: 20px;
  margin-left: 40px;
  background: inherit;
}
.subscribe__form input::-moz-placeholder {
  color: #cbd5e1;
}
.subscribe__form input::placeholder {
  color: #cbd5e1;
}
.subscribe__form button {
  margin: 10px 15px 10px 0;
  color: #1e293b;
  padding: 0 37px;
  background: linear-gradient(to right, #0ea5e9, #22d3ee);
  border-radius: 50px;
}
.subscribe__form button span {
  display: inline-block;
  font-weight: 700;
  color: #1e293b;
  font-size: 20px;
}

/*----------@media<1200>----------*/
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
/*----------@media<992>----------*/
@media (max-width: 992px) {
  /*----------@media-header----------*/
  .header__logo img {
    max-width: 30px;
  }
  .header__name {
    font-size: 20px;
  }
  .header__item {
    margin-left: 10px;
  }
  /*----------@media-footer----------*/
  .footer__text {
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 25px;
  }
  .footer__icon img {
    max-width: 30px;
    max-height: 35px;
  }
  /*----------@media-latest----------*/
  .latest__title-body {
    font-size: 20px;
  }
  .latest__subtitle-body {
    font-size: 17px;
  }
  .latest__text {
    font-size: 15px;
  }
  /*----------@media-subscribe----------*/
  .title {
    margin-bottom: 20px;
  }
  .subscribe__row {
    flex-direction: column;
  }
  .subscribe__body {
    padding: 0;
    text-align: center;
  }
  .subscribe__text {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .subscribe__form {
    flex: 0 0 auto;
    min-width: 70%;
    height: 55px;
  }
  .subscribe__form input {
    font-size: 15px;
    margin-left: 40px;
  }
  .subscribe__form button {
    margin: 10px 15px 10px 0;
  }
  .subscribe__form button span {
    font-size: 15px;
  }
}
/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-header----------*/
  .header__logo img {
    max-width: 30px;
  }
  .header__name {
    font-size: 20px;
  }
  .header__item {
    margin-left: 10px;
  }
  .header__link {
    font-size: 20px;
  }
  /*----------@media-footer----------*/
  .footer__row {
    flex-direction: column;
  }
  .footer__text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
  .footer__icon img {
    max-width: 30px;
  }
  /*----------@media-latest----------*/
  .latest__columns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .latest__column {
    flex: 0 0 auto;
    padding: 0 30px;
    margin-bottom: 35px;
  }
  .latest__column:last-child {
    margin: 0;
  }
  /*----------@media-subscribe----------*/
  .subscribe__form button {
    padding: 0 20px;
  }
}
/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-header----------*/
  .header {
    padding: 10px 0;
  }
  .header__logo img {
    max-width: 20px;
  }
  .header__name {
    font-size: 15px;
  }
  .header__item {
    margin-left: 10px;
  }
  .header__link {
    font-size: 10px;
  }
  /*----------@media-footer----------*/
  .footer {
    padding: 9px 0 16px 0;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__text {
    font-size: 8px;
    margin-bottom: 5px;
    padding: 0;
    line-height: 9px;
  }
  .footer__icon img {
    max-width: 15px;
  }
  .footer__item {
    margin-right: 5px;
  }
  .footer__item:last-child {
    margin: 0;
  }
  /*----------@media-latest----------*/
  .latest__title {
    margin-left: 7px;
  }
  .latest__link {
    font-size: 12px;
  }
  .latest__column {
    max-width: 100%;
  }
  .latest__image {
    margin-bottom: 15px;
  }
  .latest__title-body {
    font-size: 15px;
  }
  .latest__subtitle-body {
    font-size: 12px;
  }
  .latest__text {
    font-size: 12px;
    padding-bottom: 30px;
    line-height: 14px;
  }
  /*----------@media-subscribe----------*/
  .subscribe__body {
    padding: 0 17px 0 10px;
  }
  .subscribe__title {
    line-height: 25px;
  }
  .subscribe__text {
    font-size: 10px;
    line-height: 12px;
  }
  .subscribe__form {
    height: 37px;
  }
  .subscribe__form input {
    font-size: 10px;
  }
  .subscribe__form button {
    margin: 5px 5px 5px 0;
  }
  .subscribe__form button span {
    font-size: 10px;
  }
}