/*----------hello----------*/
.hello {
  padding-top: 85px;
  margin-bottom: 100px;
}
.hello__row {
  display: flex;
  justify-content: space-between;
}
.hello__body {
  max-width: 720px;
  color: #fff;
}
.hello__title {
  margin-bottom: 50px;
}
.hello__text {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 26px;
  line-height: 50px;
  color: #cbd5e1;
  margin-bottom: 25px;
}
.hello__text span {
  background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hello__icon {
  display: flex;
  align-items: center;
}
.hello__item {
  margin-right: 30px;
}
.hello__item:last-child {
  margin: 0;
}

/*----------recent----------*/
.recent {
  margin-bottom: 100px;
}
.recent__title {
  margin-bottom: 80px;
}
.recent__card {
  background: #151e31;
  margin-bottom: 40px;
  padding: 34px 8px 34px 8px;
  border-radius: 20px;
}
.recent__card:last-child {
  margin: 0;
}
.recent__row {
  display: flex;
  align-items: center;
}
.recent__image {
  flex: 0 0 25%;
  text-align: center;
}
.recent__image img {
  max-width: 100%;
}
.recent__body {
  flex: 1 1 auto;
  margin-left: 30px;
}
.recent__top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.recent__title-project a {
  color: #f8fafc;
  font-weight: 500;
  font-size: 30px;
  margin-right: 20px;
}
.recent__label {
  font-weight: 700;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
}
.recent__label.label-one {
  background: linear-gradient(to bottom, rgba(16, 185, 129, 0.2), rgba(190, 242, 100, 0.2));
}
.recent__label.label-one span {
  background-image: linear-gradient(to bottom, #10b981, #bef264);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.recent__label.label-two {
  background: linear-gradient(to bottom, rgba(220, 38, 38, 0.2), rgba(249, 115, 22, 0.2));
}
.recent__label.label-two span {
  background-image: linear-gradient(to bottom, #dc2626, #f97316);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.recent__label.label-three {
  background: linear-gradient(to bottom, rgba(124, 58, 237, 0.2), rgba(96, 165, 250, 0.2));
}
.recent__label.label-three span {
  background-image: linear-gradient(to bottom, #7c3aed, #60a5fa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.recent__text {
  color: #cbd5e1;
  font-size: 20px;
  line-height: 25px;
}
.recent__text p {
  margin-bottom: 20px;
}
.recent__text p:last-child {
  margin: 0;
}

/*----------latest----------*/
.latest {
  margin-bottom: 100px;
}
.latest__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.latest__link {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}
.latest__link span {
  background: url("/img/content/Latest/icons/01.svg") right no-repeat;
  padding: 10px 60px 10px 0;
}

/*----------subscribe----------*/
.subscribe {
  margin-bottom: 100px;
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  .title {
    font-size: 25px;
  }
  /*----------@media-hello----------*/
  .hello__text {
    font-size: 18px;
    line-height: 30px;
  }
  .hello__image img {
    max-width: 200px;
  }
  .hello__icon img {
    max-width: 50px;
  }
  /*----------@media-recent----------*/
  .recent__title {
    margin-bottom: 25px;
  }
  .recent__card {
    padding: 10px 10px;
  }
  .recent__image {
    margin-bottom: 18px;
  }
  .recent__image img {
    max-width: 90px;
  }
  .recent__body {
    margin: 0;
  }
  .recent__top {
    margin-bottom: 18px;
  }
  .recent__title-project a {
    margin-right: 10px;
    font-size: 25px;
  }
  .recent__label {
    font-size: 15px;
  }
  .recent__text P {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  /*----------@media-latest----------*/
  .latest {
    margin-bottom: 40px;
  }
  .latest__link {
    padding: 10px 0;
  }
}
/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-hello----------*/
  .hello {
    padding-top: 30px;
  }
  .hello__row {
    flex-direction: column-reverse;
  }
  .hello__title {
    text-align: center;
    margin-bottom: 16px;
  }
  .hello__text {
    text-align: justify;
  }
  .hello__image {
    text-align: center;
    margin-bottom: 17px;
  }
  .hello__icon {
    justify-content: center;
  }
  /*----------@media-recent----------*/
  .recent__title {
    margin-bottom: 25px;
  }
  .recent__card {
    padding: 10px 10px;
  }
  .recent__image {
    margin-bottom: 18px;
  }
  .recent__image img {
    max-width: 75px;
  }
  .recent__body {
    margin: 0;
  }
  .recent__top {
    margin-bottom: 18px;
  }
  .recent__title-project a {
    margin-right: 10px;
    font-size: 15px;
  }
  .recent__label {
    font-size: 10px;
  }
  .recent__text P {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
/*----------@media<425>----------*/
@media (max-width: 425px) {
  .title {
    font-size: 20px;
  }
  /*----------@media-hello----------*/
  .hello {
    margin-bottom: 60px;
  }
  .hello__text {
    font-size: 10px;
    line-height: 15px;
    margin: 0 0 0 7px;
    margin-bottom: 20px;
  }
  .hello__image img {
    max-width: 100px;
  }
  .hello__icon img {
    max-width: 30px;
  }
  .hello__item {
    margin-right: 20px;
  }
  .hello__item:last-child {
    margin: 0;
  }
  /*----------@media-recent----------*/
  .recent {
    margin-bottom: 36px;
  }
  .recent__title {
    margin-bottom: 25px;
  }
  .recent__card {
    padding: 10px 10px;
  }
  .recent__row {
    flex-direction: column;
  }
  .recent__image {
    margin-bottom: 18px;
  }
  .recent__image img {
    max-width: 50px;
  }
  .recent__body {
    margin: 0;
  }
  .recent__top {
    justify-content: center;
    margin-bottom: 18px;
  }
  .recent__title-project a {
    margin-right: 10px;
    font-size: 15px;
  }
  .recent__label {
    font-size: 10px;
  }
  .recent__text P {
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 15px;
  }
  /*----------@media-latest----------*/
  .latest__top {
    margin-bottom: 30px;
  }
  .latest__link {
    font-size: 12px;
  }
  .latest__link span {
    background-size: 20px 20px;
    padding: 10px 20px 10px 0;
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 60px;
  }
}