/*----------subscribe----------*/
.subscribe {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 140px;
  &__row {
    flex-direction: column;
  }

  &__block {
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }

  &__title {
    line-height: 55px;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    color: #cbd5e1;
    text-align: justify;
    margin-bottom: 50px;
  }

  &__list {
    text-align: justify;
    color: #cbd5e1;
    font-size: 24px;
    margin: 60px 0 0 80px;
    li {
      list-style-type: disc;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        color: #22d3ee;
      }
    }
  }

  &__form {
    min-width: 100%;
    flex: 0 0 auto;
  }
}
/*----------@media<992>----------*/
@media (max-width: 992px) {
  /*----------@media-subscribe----------*/
  .subscribe {
    &__title {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 40px;
      text-align: justify;
    }

    &__list {
      margin: 0 0 0 80px;
    }
  }
}

/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-subscribe----------*/
  .subscribe {
    padding-top: 30px;
    &__block {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    &__list {
      font-size: 15px;
    }

    &__form {
      button {
        padding: 0 20px;
      }
    }
  }
}

/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 40px;
    &__block {
      margin-bottom: 25px;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
    }

    &__text {
      font-size: 10px;
      line-height: 15px;
      margin-bottom: 27px;
    }

    &__list {
      font-size: 10px;
      // line-height: 15px;
      margin-bottom: 5px;
      margin-left: 48px;
    }

    &__form {
      height: 40px;
      input {
        font-size: 10px;
      }
      button {
        margin: 5px 5px 5px 0;
        span {
          font-size: 10px;
        }
      }
    }
  }
}
