/*----------dolor----------*/
.dolor {
  padding-top: 130px;
  &__title {
    color: #f8fafc;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 55px;
  }

  &__subtitle {
    color: #9ca3af;
    font-size: 24px;
    margin-bottom: 45px;
  }

  &__image {
    margin-bottom: 125px;
    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  &__body {
    color: #f8fafc;
    padding-right: 20px;
  }
}
/*----------block----------*/
.block {
  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: justify;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 32px;
    text-align: justify;
    line-height: 45px;
    margin-bottom: 50px;
    p {
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-two {
    margin: 0 0 50px 50px;
    li {
      font-size: 32px;
      list-style-type: disc;
      margin-bottom: 15px;
    }
  }

  &__four {
    margin-bottom: 120px;
  }

  &__list-four {
    li {
      font-size: 32px;
      margin: 0 0 15px 0;
      &:last-child {
        margin: 0;
      }
      span {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
/*----------subscribe----------*/
.subscribe {
  margin-bottom: 140px;
}
/*----------@media<992>----------*/
@media (max-width: 992px) {
  .title {
    font-size: 20px;
  }
  /*----------@media-dolor----------*/
  .dolor {
    padding-top: 53px;
    &__title {
      font-size: 35px;
      margin-bottom: 35px;
    }

    &__subtitle {
      font-size: 18px;
      margin-bottom: 30px;
      line-height: 35px;
    }

    &__image {
      margin-bottom: 80px;
      padding: 0 40px;
    }

    &__body {
      padding: 0 40px;
    }
  }
  /*----------@media-block----------*/
  .block {
    &__title {
      font-size: 25px;
      margin-bottom: 25px;
    }

    &__text {
      p {
        font-size: 20px;
      }
    }

    &__list-two {
      li {
        font-size: 20px;
      }
    }

    &__four {
      margin-bottom: 70px;
    }

    &__list-four {
      li {
        font-size: 20px;
      }
    }
  }
}

/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-dolor----------*/
  .dolor {
    &__subtitle {
      text-align: center;
    }

    &__image {
      margin-bottom: 40px;
    }
  }
  /*----------@media-block----------*/
  .block {
    &__title {
      font-size: 18px;
    }

    &__text {
      P {
        line-height: 30px;
        font-size: 15px;
      }
    }

    &__list-two {
      margin: 0 0 30px 30px;
      li {
        font-size: 15px;
      }
    }

    &__list-four {
      margin-bottom: 60px;
      li {
        font-size: 15px;
      }
    }
  }
}

/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-dolor----------*/
  .dolor {
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__subtitle {
      font-size: 10px;
      margin-bottom: 30px;
      line-height: 15px;
    }

    &__image {
      margin-bottom: 40px;
    }
  }

  /*----------@media-block----------*/
  .block {
    &__title {
      font-size: 12px;
      line-height: 20px;
    }

    &__text {
      margin-bottom: 10px;
      p {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 25px;
      }
    }

    &__list-two {
      margin-bottom: 25px;
      li {
        font-size: 10px;
        margin-bottom: 15px;
      }
    }

    &__list-four {
      li {
        font-size: 10px;
        margin-bottom: 15px;
      }
    }
  }

  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 60px;
  }
}
