@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "reset";
body {
  font-family: "Roboto";
  background: #0f172a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
}
.content {
  flex: 1 1 auto;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  span {
    background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

/*----------header----------*/
.header {
  padding: 34px 0;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__logo-name {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &__nav {
    display: flex;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-left: 50px;
    line-height: 25px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    color: #f8fafc;
    font-size: 24px;
    font-weight: 700;
  }
}
/*----------footeer----------*/
.footer {
  border-top: 1px solid #cbd5e1;
  padding: 30px 0 40px 0;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: 20px;
    color: #cbd5e1;
    font-weight: 500;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
/*----------shared-latest----------*/
.latest {
  &__columns {
    display: flex;
    margin: 0 -10px;
  }

  &__column {
    flex: 0 0 33.333%;
    padding: 0 10px;
  }

  &__content {
    display: block;
    background: #1e293b;
    border-radius: 20px;
    &:hover {
      text-decoration: underline #c5c5c5;
      transform: translateY(-5px);
      transition: transform 0.2s;
    }
    &:not(:hover) {
      transition: transform 0.2s;
    }
  }

  &__image {
    background: #0f172a;
    img {
      max-width: 100%;
    }
  }

  &__body {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    margin-top: 23px;
    padding: 0 10px;
  }

  &__title-body {
    font-weight: 700;
    font-size: 24px;
    color: #f8fafc;
  }

  &__subtitle-body {
    color: #9ca3af;
    margin: 20px 0 0 0;
    font-size: 20px;
  }

  &__text {
    color: #f8fafc;
    line-height: 25px;
    font-size: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}
/*----------shared-subscribe----------*/
.subscribe {
  margin-bottom: 140px;
  &__row {
    display: flex;
    align-items: center;
  }

  &__body {
    flex: 0 0 50%;
    padding-right: 30px;
  }

  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 20px;
    color: #cbd5e1;
    line-height: 25px;
  }

  &__form {
    flex: 0 0 50%;
    background: #1e293b;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    input {
      flex: 1 1 auto;
      padding-right: 30px;
      color: #cbd5e1;
      font-size: 20px;
      margin-left: 40px;
      background: inherit;
      &::placeholder {
        color: #cbd5e1;
      }
    }
    button {
      margin: 10px 15px 10px 0;
      color: #1e293b;
      padding: 0 37px;
      background: linear-gradient(to right, #0ea5e9, #22d3ee);
      border-radius: 50px;
      span {
        display: inline-block;
        font-weight: 700;
        color: #1e293b;
        font-size: 20px;
      }
    }
  }
}

/*----------@media<1200>----------*/
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  /*----------@media-header----------*/
  .header {
    &__logo {
      img {
        max-width: 30px;
      }
    }

    &__name {
      font-size: 20px;
    }

    &__item {
      margin-left: 10px;
    }
  }
  /*----------@media-footer----------*/
  .footer {
    &__text {
      font-size: 15px;
      padding-bottom: 10px;
      line-height: 25px;
    }

    &__icon {
      img {
        max-width: 30px;
        max-height: 35px;
      }
    }
  }
  /*----------@media-latest----------*/
  .latest {
    &__title-body {
      font-size: 20px;
    }

    &__subtitle-body {
      font-size: 17px;
    }

    &__text {
      font-size: 15px;
    }
  }
  /*----------@media-subscribe----------*/
  .title {
    margin-bottom: 20px;
  }
  .subscribe {
    &__row {
      flex-direction: column;
    }

    &__body {
      padding: 0;
      text-align: center;
    }

    &__text {
      font-size: 15px;
      margin-bottom: 20px;
      text-align: justify;
    }

    &__form {
      flex: 0 0 auto;
      min-width: 70%;
      height: 55px;
      input {
        font-size: 15px;
        margin-left: 40px;
      }
      button {
        margin: 10px 15px 10px 0;
        span {
          font-size: 15px;
        }
      }
    }
  }
}

/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-header----------*/
  .header {
    &__logo {
      img {
        max-width: 30px;
      }
    }

    &__name {
      font-size: 20px;
    }

    &__item {
      margin-left: 10px;
    }

    &__link {
      font-size: 20px;
    }
  }
  /*----------@media-footer----------*/
  .footer {
    &__row {
      flex-direction: column;
    }

    &__text {
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }

    &__icon {
      img {
        max-width: 30px;
      }
    }
  }
  /*----------@media-latest----------*/
  .latest {
    &__columns {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__column {
      flex: 0 0 auto;
      padding: 0 30px;
      margin-bottom: 35px;

      &:last-child {
        margin: 0;
      }
    }
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    &__form {
      button {
        padding: 0 20px;
      }
    }
  }
}

/*----------@media<425>----------*/
@media (max-width: 425px) {
  /*----------@media-header----------*/
  .header {
    padding: 10px 0;
    &__logo {
      img {
        max-width: 20px;
      }
    }

    &__name {
      font-size: 15px;
    }

    &__item {
      margin-left: 10px;
    }

    &__link {
      font-size: 10px;
    }
  }
  /*----------@media-footer----------*/
  .footer {
    padding: 9px 0 16px 0;
    &__row {
      flex-direction: column;
    }

    &__text {
      font-size: 8px;
      margin-bottom: 5px;
      padding: 0;
      line-height: 9px;
    }

    &__icon {
      img {
        max-width: 15px;
      }
    }

    &__item {
      margin-right: 5px;
      &:last-child {
        margin: 0;
      }
    }
  }
  /*----------@media-latest----------*/
  .latest {
    &__title {
      margin-left: 7px;
    }

    &__link {
      font-size: 12px;
    }

    &__column {
      max-width: 100%;
    }
    &__image {
      margin-bottom: 15px;
    }

    &__title-body {
      font-size: 15px;
    }

    &__subtitle-body {
      font-size: 12px;
    }

    &__text {
      font-size: 12px;
      padding-bottom: 30px;
      line-height: 14px;
    }
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    &__body {
      padding: 0 17px 0 10px;
    }

    &__title {
      line-height: 25px;
    }

    &__text {
      font-size: 10px;
      line-height: 12px;
    }

    &__form {
      height: 37px;
      input {
        font-size: 10px;
      }
      button {
        margin: 5px 5px 5px 0;
        span {
          font-size: 10px;
        }
      }
    }
  }
}
