/*----------hello----------*/
.hello {
  padding-top: 85px;
  margin-bottom: 100px;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    max-width: 720px;
    color: #fff;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    color: #cbd5e1;
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    color: #cbd5e1;
    margin-bottom: 25px;
    span {
      background-image: linear-gradient(to right, #0ea5e9, #22d3ee);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  &__image {
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}
/*----------recent----------*/
.recent {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 80px;
  }

  &__card {
    background: #151e31;
    margin-bottom: 40px;
    padding: 34px 8px 34px 8px;
    border-radius: 20px;
    &:last-child {
      margin: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 0 0 25%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  &__body {
    flex: 1 1 auto;
    margin-left: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__title-project {
    a {
      color: #f8fafc;
      font-weight: 500;
      font-size: 30px;
      margin-right: 20px;
    }
  }

  &__label {
    font-weight: 700;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    &.label-one {
      background: linear-gradient(
        to bottom,
        rgba(16, 185, 129, 0.2),
        rgba(190, 242, 100, 0.2)
      );
      span {
        background-image: linear-gradient(to bottom, #10b981, #bef264);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
    &.label-two {
      background: linear-gradient(
        to bottom,
        rgba(220, 38, 38, 0.2),
        rgba(249, 115, 22, 0.2)
      );
      span {
        background-image: linear-gradient(to bottom, #dc2626, #f97316);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
    &.label-three {
      background: linear-gradient(
        to bottom,
        rgba(124, 58, 237, 0.2),
        rgba(96, 165, 250, 0.2)
      );
      span {
        background-image: linear-gradient(to bottom, #7c3aed, #60a5fa);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }

  &__text {
    color: #cbd5e1;
    font-size: 20px;
    line-height: 25px;
    p {
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
/*----------latest----------*/
.latest {
  margin-bottom: 100px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  &__link {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    span {
      background: url("/img/content/Latest/icons/01.svg") right no-repeat;
      padding: 10px 60px 10px 0;
    }
  }
}
/*----------subscribe----------*/
.subscribe {
  margin-bottom: 100px;
}

/*----------@media<992>----------*/
@media (max-width: 992px) {
  .title {
    font-size: 25px;
  }
  /*----------@media-hello----------*/
  .hello {
    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__image {
      img {
        max-width: 200px;
      }
    }

    &__icon {
      img {
        max-width: 50px;
      }
    }
  }
  /*----------@media-recent----------*/
  .recent {
    &__title {
      margin-bottom: 25px;
    }

    &__card {
      padding: 10px 10px;
    }

    &__image {
      margin-bottom: 18px;
      img {
        max-width: 90px;
      }
    }

    &__body {
      margin: 0;
    }

    &__top {
      margin-bottom: 18px;
    }

    &__title-project {
      a {
        margin-right: 10px;
        font-size: 25px;
      }
    }

    &__label {
      font-size: 15px;
    }

    &__text {
      P {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px;
      }
    }
  }
  /*----------@media-latest----------*/
  .latest {
    margin-bottom: 40px;
    &__link {
      padding: 10px 0;
    }
  }
}

/*----------@media<768>----------*/
@media (max-width: 768px) {
  /*----------@media-hello----------*/
  .hello {
    padding-top: 30px;
    &__row {
      flex-direction: column-reverse;
    }
    &__title {
      text-align: center;
      margin-bottom: 16px;
    }

    &__text {
      text-align: justify;
    }

    &__image {
      text-align: center;
      margin-bottom: 17px;
    }

    &__icon {
      justify-content: center;
    }
  }
  /*----------@media-recent----------*/
  .recent {
    &__title {
      margin-bottom: 25px;
    }

    &__card {
      padding: 10px 10px;
    }

    &__image {
      margin-bottom: 18px;
      img {
        max-width: 75px;
      }
    }

    &__body {
      margin: 0;
    }

    &__top {
      margin-bottom: 18px;
    }

    &__title-project {
      a {
        margin-right: 10px;
        font-size: 15px;
      }
    }

    &__label {
      font-size: 10px;
    }

    &__text {
      P {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

/*----------@media<425>----------*/
@media (max-width: 425px) {
  .title {
    font-size: 20px;
  }
  /*----------@media-hello----------*/
  .hello {
    margin-bottom: 60px;
    &__text {
      font-size: 10px;
      line-height: 15px;
      margin: 0 0 0 7px;
      margin-bottom: 20px;
    }

    &__image {
      img {
        max-width: 100px;
      }
    }

    &__icon {
      img {
        max-width: 30px;
      }
    }

    &__item {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
  /*----------@media-recent----------*/
  .recent {
    margin-bottom: 36px;
    &__title {
      margin-bottom: 25px;
    }

    &__card {
      padding: 10px 10px;
    }

    &__row {
      flex-direction: column;
    }

    &__image {
      margin-bottom: 18px;
      img {
        max-width: 50px;
      }
    }

    &__body {
      margin: 0;
    }

    &__top {
      justify-content: center;
      margin-bottom: 18px;
    }

    &__title-project {
      a {
        margin-right: 10px;
        font-size: 15px;
      }
    }

    &__label {
      font-size: 10px;
    }

    &__text {
      P {
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 15px;
      }
    }
  }
  /*----------@media-latest----------*/
  .latest {
    &__top {
      margin-bottom: 30px;
    }
    &__link {
      font-size: 12px;
      span {
        background-size: 20px 20px;
        padding: 10px 20px 10px 0;
      }
    }
  }
  /*----------@media-subscribe----------*/
  .subscribe {
    margin-bottom: 60px;
  }
}
